@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6 p,
li,
figure,
figcaption,
blockquote,
dl,
dd,
span,
p {
  margin: 0;
  line-height: initial;
}

span {
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

label,
input {
  display: block;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  display: inline;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "TT Marxiana";
  font-display: swap;
  src: url("../fonts/TTMarxiana-Grotesque.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/circe.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/circe-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
.gradient-btn {
  cursor: pointer;
  outline: none;
  border: none;
  position: relative;
  overflow: hidden;
  color: #fff;
  font-family: Circe;
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px 52px;
  border-radius: 51px;
  background: linear-gradient(243deg, #e42313 16.58%, #fc5e51 67.02%);
  transition: transform 0.3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.gradient-btn span {
  position: relative;
  z-index: 2;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.gradient-btn::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: linear-gradient(243deg, #0bbbef 16.58%, #6cdeff 67.02%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.gradient-btn:hover::before {
  opacity: 1;
}
.gradient-btn:active {
  transform: translateY(5px);
}

.btn-wrapper {
  display: flex;
  justify-content: center;
}
.btn-wrapper.mt20 {
  margin-top: 20px;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0px 15px;
  margin: auto;
}

body {
  background-color: #164194;
  font-family: "Circe";
  color: #fff;
}

.body__content {
  max-width: 100vw;
  overflow: hidden;
}

.header {
  position: relative;
  background-color: #1d377b;
  border-radius: 0px 0px 0px 300px;
  padding-bottom: 122px;
}

.header__image {
  position: absolute;
  left: 50%;
  top: 0;
  height: 93%;
  width: 50%;
  border-radius: 0px 0px 0px 300px;
  overflow: hidden;
  background: linear-gradient(180deg, #97daff 0%, #247eae 100%);
}
.header__image img {
  opacity: 0;
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left top;
     object-position: left top;
  transition: opacity 1.2s ease-in-out, filter 0.5s linear, transform 1.2s ease-in-out;
  transform: scale(1.3);
  filter: blur(5px);
}
.header__image.aos-animate img {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
}

.header__content {
  padding-top: 30px;
}

.header__logo {
  width: 160px;
  height: 125px;
  margin-bottom: 60px;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: left top;
     object-position: left top;
}

.header-mouse-ball {
  position: absolute;
  bottom: -83.5px;
  left: 50%;
  transform: translateX(-50%);
  width: 167px;
  height: 167px;
  border-radius: 50%;
  background-color: #1d377b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-mouse-ball svg {
  width: 31px;
  height: 50px;
}
.header-mouse-ball::before {
  will-change: transform;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.64645 12.3536C3.84171 12.5488 4.15829 12.5488 4.35355 12.3536L7.53553 9.17157C7.7308 8.97631 7.7308 8.65973 7.53553 8.46447C7.34027 8.2692 7.02369 8.2692 6.82843 8.46447L4 11.2929L1.17157 8.46447C0.97631 8.2692 0.659728 8.2692 0.464466 8.46447C0.269204 8.65973 0.269204 8.97631 0.464466 9.17157L3.64645 12.3536ZM3.5 -2.18561e-08L3.5 12L4.5 12L4.5 2.18561e-08L3.5 -2.18561e-08Z' fill='white'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: contain;
  width: 8px;
  height: 13px;
  bottom: 30px;
  animation: bounseArrow 3s linear infinite;
}

@keyframes bounseArrow {
  0% {
    transform: translateX(-50%) translateY(0%);
  }
  50% {
    transform: translateX(-50%) translateY(100%);
  }
  100% {
    transform: translateX(-50%) translateY(0%);
  }
}
.header__title {
  padding-top: 20px;
  width: -moz-fit-content;
  width: fit-content;
  transform: skewy(-12deg);
  text-transform: uppercase;
  font-family: TT Marxiana;
  font-size: 100px;
  margin-bottom: 110px;
}
.header__title * {
  line-height: 110%;
}
.header__title .red-selection {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
}
.header__title .red-selection span {
  position: relative;
  z-index: 2;
}
.header__title .red-selection::before {
  border-radius: 20px;
  z-index: 1;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  width: calc(100% + 48px);
  height: calc(100% + 20px);
  background: linear-gradient(180deg, #e42313 2.25%, #fc5e51 89.96%);
}

.header__descr {
  font-family: Circe;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header__descr.large {
  color: #e42313;
  background: -webkit-linear-gradient(180deg, #e42313 2.25%, #fc5e51 89.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: TT Marxiana;
  font-size: 53px;
  font-style: normal;
  font-weight: 400;
  line-height: 148%;
  text-transform: uppercase;
}

.second-screen {
  padding-top: 133px;
}
.second-screen .second-screen__title {
  text-align: center;
  font-family: TT Marxiana;
  font-size: 62px;
  font-weight: 400;
  line-height: 130%;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.second-screen__block {
  display: flex;
  align-items: center;
  margin-bottom: 180px;
  gap: 32px;
}

.block__text,
.block__image {
  width: 50%;
}

.block__title {
  font-family: TT Marxiana;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.block__descr {
  font-family: Circe;
  font-size: 25px;
  font-weight: 400;
}

.new-taste-image {
  position: relative;
  display: flex;
  max-width: 486px;
  width: 100%;
  height: 371px;
  flex-shrink: 1;
}
.new-taste-image > img {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.new-taste-image__paralax-wrapper,
.new-taste-image__paralax-container {
  width: 100%;
  height: 100%;
}
.new-taste-image__paralax-wrapper img,
.new-taste-image__paralax-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.second-screen__block[data-block="1"] .block__title span {
  width: -moz-fit-content;
  width: fit-content;
  line-height: 100%;
  border-radius: 18px;
  background: #9a8100;
  padding: 10px 23px;
  padding-right: 30px;
}
.second-screen__block[data-block="1"] .block__title span:first-child {
  border-radius: 18px 18px 0 0;
  padding-bottom: 0;
}
.second-screen__block[data-block="1"] .block__title span:last-child {
  border-radius: 0 18px 18px 18px;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.15);
}
.second-screen__block[data-block="1"] .new-taste-image {
  margin-left: auto;
}
.second-screen__block[data-block="1"] [data-paralax-item="1"] {
  position: absolute;
  left: -100px;
  bottom: -105px;
  width: 281px;
  height: 161px;
  z-index: 3;
}
.second-screen__block[data-block="1"] [data-paralax-item="2"] {
  z-index: 1;
  position: absolute;
  right: -44px;
  top: -152px;
  width: 231px;
  height: 278px;
}
.second-screen__block[data-block="2"] .block__title span {
  width: -moz-fit-content;
  width: fit-content;
  line-height: 100%;
  border-radius: 18px;
  background: #ff4916;
  padding: 10px 23px;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.15);
}
.second-screen__block[data-block="2"] .new-taste-image {
  margin-right: auto;
}
.second-screen__block[data-block="2"] [data-paralax-item="1"] {
  position: absolute;
  left: -86px;
  top: -66px;
  width: 201px;
  height: 302px;
  z-index: 1;
}
.second-screen__block[data-block="2"] [data-paralax-item="2"] {
  position: absolute;
  right: -113px;
  bottom: -26px;
  width: 197px;
  height: 166px;
  z-index: 3;
}
.second-screen__block[data-block="2"] [data-paralax-item="3"] {
  position: absolute;
  left: -12px;
  bottom: -123px;
  width: 365px;
  height: 122px;
  z-index: 3;
}
.second-screen__block[data-block="3"] .block__title span {
  width: -moz-fit-content;
  width: fit-content;
  line-height: 100%;
  border-radius: 18px;
  background: #a3327f;
  padding: 10px 23px;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.15);
}
.second-screen__block[data-block="3"] .new-taste-image {
  margin-left: auto;
}
.second-screen__block[data-block="3"] [data-paralax-item="1"] {
  position: absolute;
  left: -120px;
  top: -109px;
  width: 293px;
  height: 171px;
  z-index: 3;
}
.second-screen__block[data-block="3"] [data-paralax-item="2"] {
  position: absolute;
  right: -114px;
  bottom: -113px;
  width: 478px;
  height: 487px;
  z-index: 1;
}

.contest__paralax {
  position: absolute;
  right: -120px;
  top: 80px;
  width: 301px;
  height: 385px;
}

.contest {
  padding-bottom: 85px;
  padding-top: 145px;
}
.contest .contest__title {
  font-size: 82px;
  width: -moz-fit-content;
  width: fit-content;
  transform: skewY(-12deg) translateX(-60px);
  text-transform: uppercase;
  font-family: TT Marxiana;
}
.contest .title-segment {
  display: inline;
}
.contest .title-segment._small {
  font-size: 52px;
  display: block;
  margin-top: 20px;
}
.contest .contest__title__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}
.contest .red-selection {
  position: relative;
  padding: 0px 20px;
  padding-right: 35px;
}
.contest .red-selection::before {
  border-radius: 20px;
  z-index: -1;
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
  width: calc(100% + 30px);
  height: calc(100% - 10px);
  background: linear-gradient(180deg, #e42313 2.25%, #fc5e51 89.96%);
}

.contest__about {
  margin-bottom: 83px;
  padding-top: 150px;
  display: flex;
}
.contest__about .about__block {
  flex: 0 0 40%;
}
.contest__about .about__block:first-child {
  margin-right: 132px;
}
.contest__about .about__title {
  color: #fff;
  font-family: Circe;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 21px;
}
.contest__about p {
  font-family: Circe;
  font-size: 25px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 28px;
}
.contest__about span {
  font-family: Circe;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.contest__about .list-item {
  position: relative;
  margin-bottom: 10px;
  padding-left: 30px;
  font-family: Circe;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.151px;
}
.contest__about .list-item::before {
  position: absolute;
  width: 17px;
  height: 12px;
  content: "";
  left: 0;
  top: 5px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='12' viewBox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 4.78261L6.41863 9.27513C6.81046 9.67351 7.4527 9.67351 7.84452 9.27513L15 2' stroke='%230BBBEF' stroke-width='4' stroke-linecap='round'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.contest__bann {
  border-radius: 62px;
  background: #fff;
  height: 493px;
  padding-top: 40px;
  margin-bottom: 75px;
}
.contest__bann .bann__title {
  color: #1d377b;
  text-align: center;
  font-family: Circe;
  font-size: 45px;
  font-weight: 700;
  text-transform: uppercase;
}

.form-section {
  position: relative;
  padding: 100px 0px 200px;
  background-color: #1d377b;
  border-radius: 0px 333px 0px 0px;
}

.form-section__wrapper {
  display: flex;
  justify-content: space-between;
}
.form-section__wrapper .form-section__title {
  color: #fff;
  font-family: TT Marxiana;
  font-size: 62px;
  font-weight: 400;
  text-transform: uppercase;
}
.form-section__wrapper .form-section__descr {
  color: #fff;
  font-family: Circe;
  font-size: 25px;
  font-weight: 400;
}

.form-section__text {
  max-width: 400px;
}

.inputs-wrapper {
  display: flex;
  gap: 27px;
  margin-bottom: 27px;
}

.form-section__inner {
  flex-shrink: 0;
}

.form-input,
.form-textarea {
  display: block;
  padding: 16px 23px;
  border-radius: 22px;
  border: 1px solid #fff;
  background-color: #1f3a80;
  color: #fff;
  font-family: Circe;
  font-size: 25px;
  font-weight: 400;
  width: 100%;
  resize: none;
}
.form-input::-moz-placeholder, .form-textarea::-moz-placeholder {
  color: #fff;
}
.form-input::placeholder,
.form-textarea::placeholder {
  color: #fff;
}

.form-input {
  max-width: 328px;
}

.form-textarea {
  height: 107px;
}

.privacy-block {
  margin: 27px 0;
  position: relative;
}
.privacy-block .privacy-block__cb {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
.privacy-block .privacy-block__cb:checked + .privacy-block__text::after {
  opacity: 1;
}
.privacy-block .privacy-block__text {
  position: relative;
  padding-left: 40px;
  color: #fff;
  font-family: Circe;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.privacy-block .privacy-block__text::before {
  position: absolute;
  left: 0;
  top: 0px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  border: 1px solid #fff;
  content: "";
}
.privacy-block .privacy-block__text::after {
  position: absolute;
  left: 0;
  top: 0px;
  width: 20px;
  height: 20px;
  content: "";
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='12' viewBox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 4.78261L6.41863 9.27513C6.81046 9.67351 7.4527 9.67351 7.84452 9.27513L15 2' stroke='%230BBBEF' stroke-width='4' stroke-linecap='round'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  opacity: 0;
}

.form-section__image {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.footer {
  padding: 68px 0;
  background-color: #122453;
}

.footer__wrapper {
  display: flex;
  align-items: center;
}
.footer__wrapper > * {
  flex: 0 0 33.33%;
}
.footer__wrapper .footer__dev {
  color: #fff;
  font-family: Circe;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__wrapper .footer__dev a {
  color: #ff4916;
}
.footer__wrapper .footer__logo {
  width: 124px;
  height: 84px;
}
.footer__wrapper .footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.form-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 0%, 0.4);
  opacity: 0;
  visibility: hidden;
}
.form-modal.show {
  opacity: 1;
  visibility: visible;
}

.form-modal__content {
  max-width: 627px;
  width: 100%;
  position: relative;
  padding: 66px 88px;
  border-radius: 62px;
  background: linear-gradient(180deg, #1d377b 0%, #22408f 100%);
  box-shadow: 0px 4px 44px 0px rgba(0, 0, 0, 0.25);
}
.form-modal__content .form-modal__close {
  position: absolute;
  right: 50px;
  top: 40px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.form-modal__content .form-modal__title {
  color: #fff;
  font-family: TT Marxiana;
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.form-modal__content .form-modal__descr {
  color: #fff;
  font-family: Circe;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.151px;
}

.poll-section {
  padding: 110px 0 150px;
  background-color: #f8f8f8;
  border-radius: 0px 300px 0px 300px;
}

.poll-section__title {
  color: #1d377b;
  font-family: TT Marxiana;
  font-size: 62px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.151px;
  text-transform: uppercase;
  margin-bottom: 52px;
}

.poll-app__question {
  color: #1d377b;
  font-family: Circe;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.151px;
  margin-bottom: 40px;
}

.answer__letter {
  font-size: 25px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0.151px;
  margin-right: 17px;
}

.answer__letter,
.answer__text {
  color: #1d377b;
  font-family: Circe;
  font-style: normal;
  transition: color 0.3s ease-in-out;
}

.answer__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.poll-app-answer {
  position: relative;
}
.poll-app-answer:not(:last-child) {
  margin-bottom: 10px;
}
.poll-app-answer:hover .answer__content {
  background-color: #0bbbef;
}

.answer__input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  height: 100%;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}
.answer__input:checked + .answer__content {
  background-color: #22408f;
  border-color: #22408f;
}
.answer__input:checked + .answer__content .answer__text,
.answer__input:checked + .answer__content .answer__letter {
  color: #fff;
}

.answer__content {
  transition: background-color 0.3s ease-in-out;
  border-radius: 8px;
  border: 1px solid #0bbbef;
  background: #f5faff;
  padding: 14px 22px;
  display: flex;
}

.poll-app__answer-list {
  margin-bottom: 40px;
}

.test-result__wrapper {
  display: flex;
  align-items: stretch;
  gap: 38px;
  margin-bottom: 46px;
}

.test-result__block {
  padding: 20px 22px;
  flex: 0 0 calc(50% - 19px);
  border-radius: 8px;
  border: 1px solid #0bbbef;
  background: #fff;
}

.test-result__subtitle {
  color: #1d377b;
  font-family: Circe;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.151px;
  margin-bottom: 17px;
}

.ingredient-item {
  color: #1d377b;
  font-family: Circe;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
.ingredient-item:not(:last-child) {
  margin-bottom: 10px;
}

.ingredient__name,
.ingredient__count {
  display: inline;
}

.ingredient__name {
  font-weight: 700;
}

.cooking-process__item {
  color: #1d377b;
  font-family: Circe;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
}
.cooking-process__item .cooking-process__item-num {
  margin-right: 5px;
}

.test-result__title {
  color: #1d377b;
  font-family: Circe;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.151px;
  margin-bottom: 28px;
}

.poll-app__questions {
  position: relative;
  flex-wrap: wrap;
  display: flex;
}
.poll-app__questions .poll-section__title {
  flex: 0 0 100%;
}
.poll-app__questions .poll-app__questions-content {
  max-width: 580px;
  width: 100%;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.image-title {
  position: absolute;
  z-index: 3;
  top: -80px;
  right: 10px;
  color: #fff;
  font-family: TT Marxiana;
  font-size: 71px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.131px;
  text-transform: uppercase;
  transform: skewY(-12deg);
  padding: 14px 35px;
  border-radius: 20px;
  background: linear-gradient(180deg, #e42313 40.4%, #fc5e51 115.09%);
  filter: drop-shadow(0px 12.1344976425px 29.4694957733px rgba(0, 0, 0, 0.15));
}

.poll-app__questions-image {
  position: absolute;
  top: 115px;
  right: 0;
  width: 580px;
  height: 580px;
}
.poll-app__questions-image .poll-app__questions-image__wrapper {
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.poll-app__questions-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.poll-app__questions-image .absolute-image {
  position: absolute;
}
.poll-app__questions-image .absolute-image img {
  width: 100%;
  height: 100%;
}
.poll-app__questions-image .absolute-image[data-image="1"] {
  z-index: 1;
  bottom: -25px;
  right: -58px;
  width: 261px;
  height: 162px;
}
.poll-app__questions-image .absolute-image[data-image="2"] {
  z-index: 3;
  bottom: -115px;
  right: 87px;
  width: 257px;
  height: 215px;
}

.poll-section__paralax {
  max-width: 1240px;
  width: 100%;
  padding: 0px 15px;
  margin: auto;
  position: relative;
}
.poll-section__paralax .new-taste-image__paralax {
  position: absolute !important;
}
.poll-section__paralax .new-taste-image__paralax[data-paralax-item="1"] {
  top: 0;
  left: -5%;
  transform: translateY(-120%) scale(-1, 1) !important;
  width: 241px;
  height: 142px;
}
.poll-section__paralax .new-taste-image__paralax[data-paralax-item="2"] {
  transform: translateY(50%) !important;
  top: 0;
  left: 7%;
  width: 204px;
  height: 194px;
}

.test-result__title-wrapper {
  position: relative;
}
.test-result__title-wrapper .absolute-title {
  position: absolute;
  z-index: 3;
  top: 50%;
  right: 0px;
  color: #fff;
  font-family: TT Marxiana;
  font-size: 71px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.131px;
  text-transform: uppercase;
  transform: skewY(-12deg) translateY(-50%);
  padding: 14px 25px;
  border-radius: 20px;
  background: linear-gradient(180deg, #e42313 40.4%, #fc5e51 115.09%);
  filter: drop-shadow(0px 12.1344976425px 29.4694957733px rgba(0, 0, 0, 0.15));
}

.footer__socials {
  display: flex;
  justify-content: flex-end;
}
.footer__socials .social-item {
  width: 36px;
  height: 36px;
}
.footer__socials .social-item svg {
  width: 100%;
  height: 100%;
}
.footer__socials .social-item svg path {
  transition: fill 0.3s ease-in-out;
}
.footer__socials .social-item:not(:last-child) {
  margin-right: 23px;
}
.footer__socials .social-item:hover svg path {
  fill: #ff4916;
}

[data-aos] {
  will-change: transform;
}/*# sourceMappingURL=main.css.map */