@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
h5,
h6 p,
li,
figure,
figcaption,
blockquote,
dl,
dd,
span,
p {
  margin: 0;
  line-height: initial;
}

span {
  display: block;
}

a {
  display: block;
  text-decoration: none;
}

label,
input {
  display: block;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
  display: inline;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@font-face {
  font-family: "TT Marxiana";
  font-display: swap;
  src: url("../fonts/TTMarxiana-Grotesque.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/circe.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Circe";
  font-display: swap;
  src: url("../fonts/circe-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.gradient-btn {
  cursor: pointer;
  outline: none;
  border: none;
  position: relative;
  overflow: hidden;
  color: #fff;
  font-family: Circe;
  font-size: 25px;
  font-weight: 700;
  line-height: normal;
  width: fit-content;
  padding: 15px 52px;
  border-radius: 51px;
  background: linear-gradient(243deg, #e42313 16.58%, #fc5e51 67.02%);
  transition: transform 0.3s ease-in-out;
  span {
    position: relative;
    z-index: 2;
  }
  &::before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: linear-gradient(243deg, #0bbbef 16.58%, #6cdeff 67.02%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  &:hover {
    &::before {
      opacity: 1;
    }
  }
  &:active {
    transform: translateY(5px);
  }
}
.btn-wrapper {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0px 15px;
  margin: auto;
}

body {
  background-color: #164194;
  font-family: "Circe";
  color: #fff;
}

.header {
  position: relative;
  background-color: #1d377b;
  border-radius: 0px 0px 0px 300px;
  padding-bottom: 122px;
}

.header__image {
  position: absolute;
  left: 50%;
  top: 0;
  height: 93%;
  width: 50%;
  border-radius: 0px 0px 0px 300px;
  overflow: hidden;
  background: linear-gradient(180deg, #97daff 0%, #247eae 100%);
  img {
    height: 100%;
    width: auto;
    object-fit: cover;
    object-position: left top;
  }
}

.header__logo {
  width: 186px;
  height: 226px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: left top;
  }
}

.header-mouse-ball {
  position: absolute;
  bottom: calc(-167px / 2);
  left: 50%;
  transform: translateX(-50%);
  width: 167px;
  height: 167px;
  border-radius: 50%;
  background-color: #1d377b;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    width: 31px;
    height: 50px;
  }
  &::before {
    will-change: transform;
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M3.64645 12.3536C3.84171 12.5488 4.15829 12.5488 4.35355 12.3536L7.53553 9.17157C7.7308 8.97631 7.7308 8.65973 7.53553 8.46447C7.34027 8.2692 7.02369 8.2692 6.82843 8.46447L4 11.2929L1.17157 8.46447C0.97631 8.2692 0.659728 8.2692 0.464466 8.46447C0.269204 8.65973 0.269204 8.97631 0.464466 9.17157L3.64645 12.3536ZM3.5 -2.18561e-08L3.5 12L4.5 12L4.5 2.18561e-08L3.5 -2.18561e-08Z' fill='white'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: contain;
    width: 8px;
    height: 13px;
    bottom: 30px;
    animation: bounseArrow 3s linear infinite;
  }
}

@keyframes bounseArrow {
  0% {
    transform: translateX(-50%) translateY(0%);
  }
  50% {
    transform: translateX(-50%) translateY(100%);
  }
  100% {
    transform: translateX(-50%) translateY(0%);
  }
}

.header__title {
  padding-top: 20px;
  width: fit-content;
  transform: skewy(-12deg);
  text-transform: uppercase;
  font-family: TT Marxiana;
  font-size: 100px;
  margin-bottom: 90px;
  * {
    line-height: 110%;
  }
  .red-selection {
    position: relative;
    width: fit-content;
    span {
      position: relative;
      z-index: 2;
    }
    &::before {
      border-radius: 20px;
      z-index: 1;
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      width: calc(100% + 48px);
      height: calc(100% + 20px);
      background: linear-gradient(180deg, #e42313 2.25%, #fc5e51 89.96%);
    }
  }
}

.header__descr {
  font-family: Circe;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  &.large {
    color: #fff;
    font-family: TT Marxiana;
    font-size: 53px;
    font-style: normal;
    font-weight: 400;
    line-height: 148%;
    // letter-spacing: 0.112px;
    text-transform: uppercase;
  }
}

.second-screen {
  padding-top: 133px;

  .second-screen__title {
    text-align: center;
    font-family: TT Marxiana;
    font-size: 62px;
    font-weight: 400;
    line-height: 130%;
    text-transform: uppercase;
    margin-bottom: 70px;
  }
}

.second-screen__block {
  display: flex;
  align-items: center;
  margin-bottom: 255px;
  gap: 32px;
}

.block__text,
.block__image {
  width: 50%;
}

.block__title {
  font-family: TT Marxiana;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.block__descr {
  font-family: Circe;
  font-size: 25px;
  font-weight: 400;
}

.new-taste-image {
  display: flex;
  max-width: 486px;
  width: 100%;
  height: 371px;
  flex-shrink: 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.second-screen__block {
  &[data-block="1"] {
    .block__title {
      span {
        width: fit-content;
        line-height: 100%;
        border-radius: 18px;
        background: #9a8100;
        padding: 10px 23px;
        padding-right: 30px;
        &:first-child {
          border-radius: 18px 18px 0 0;
          padding-bottom: 0;
        }
        &:last-child {
          border-radius: 0 18px 18px 18px;
          box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.15);
        }
      }
    }
    .new-taste-image {
      margin-left: auto;
    }
  }

  &[data-block="2"] {
    .block__title {
      span {
        width: fit-content;
        line-height: 100%;
        border-radius: 18px;
        background: #ff4916;
        padding: 10px 23px;
        box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.15);
      }
    }
    .new-taste-image {
      margin-right: auto;
    }
  }

  &[data-block="3"] {
    .block__title {
      span {
        width: fit-content;
        line-height: 100%;
        border-radius: 18px;
        background: #a3327f;
        padding: 10px 23px;
        box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.15);
      }
    }
    .new-taste-image {
      margin-left: auto;
    }
  }
}

.contest {
  padding-bottom: 85px;
  padding-top: 90px;
  .contest__title {
    font-size: 82px;
    width: fit-content;
    transform: skewy(-12deg);
    text-transform: uppercase;
    font-family: TT Marxiana;
  }
  .title-segment {
    display: inline;
    &._small {
      font-size: 52px;
      display: block;
      margin-top: 20px;
    }
  }

  .contest__title__wrapper {
    display: flex;
    justify-content: center;
  }

  .red-selection {
    position: relative;
    padding: 0px 20px;
    padding-right: 35px;
    &::before {
      border-radius: 20px;
      z-index: -1;
      content: "";
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 10px;
      width: calc(100% + 30px);
      height: calc(100% - 10px);
      background: linear-gradient(180deg, #e42313 2.25%, #fc5e51 89.96%);
    }
  }
}

.contest__about {
  margin-bottom: 83px;
  padding-top: 150px;
  display: flex;
  //   justify-content: space-between;
  .about__block {
    flex: 0 0 40%;
    &:first-child {
      margin-right: 132px;
    }
  }
  .about__title {
    color: #fff;
    font-family: Circe;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 21px;
  }
  p {
    font-family: Circe;
    font-size: 25px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 28px;
  }
  span {
    font-family: Circe;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
  .list-item {
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
    font-family: Circe;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0.151px;
    &::before {
      position: absolute;
      width: 17px;
      height: 12px;
      content: "";
      left: 0;
      top: 5px;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='12' viewBox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 4.78261L6.41863 9.27513C6.81046 9.67351 7.4527 9.67351 7.84452 9.27513L15 2' stroke='%230BBBEF' stroke-width='4' stroke-linecap='round'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}

.contest__bann {
  border-radius: 62px;
  background: #fff;
  height: 493px;
  padding-top: 40px;
  margin-bottom: 75px;
  .bann__title {
    color: #1d377b;
    text-align: center;
    font-family: Circe;
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
  }
}

.form-section {
  position: relative;
  padding: 100px 0px 200px;
  background-color: #1d377b;
  border-radius: 0px 333px 0px 0px;
}

.form-section__wrapper {
  display: flex;
  justify-content: space-between;
  .form-section__title {
    color: #fff;
    font-family: TT Marxiana;
    font-size: 62px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .form-section__descr {
    color: #fff;
    font-family: Circe;
    font-size: 25px;
    font-weight: 400;
  }
}
.form-section__text {
  max-width: 400px;
}

.inputs-wrapper {
  display: flex;
  gap: 27px;
  margin-bottom: 27px;
}
.form-section__inner {
  flex-shrink: 0;
}
.form-input,
.form-textarea {
  display: block;
  padding: 16px 23px;
  border-radius: 22px;
  border: 1px solid #fff;
  background-color: #1f3a80;
  color: #fff;
  font-family: Circe;
  font-size: 25px;
  font-weight: 400;
  width: 100%;
  resize: none;
  &::placeholder {
    color: #fff;
  }
}
.form-input {
  max-width: 328px;
}
.form-textarea {
  height: 107px;
}

.privacy-block {
  margin: 27px 0;
  position: relative;
  .privacy-block__cb {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
    &:checked + .privacy-block__text::after {
      opacity: 1;
    }
  }
  .privacy-block__text {
    position: relative;
    padding-left: 40px;
    color: #fff;
    font-family: Circe;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    &::before {
      position: absolute;
      left: 0;
      top: 0px;
      width: 20px;
      height: 20px;
      border-radius: 4px;
      border: 1px solid #fff;
      content: "";
    }
    &::after {
      position: absolute;
      left: 0;
      top: 0px;
      width: 20px;
      height: 20px;
      content: "";
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='17' height='12' viewBox='0 0 17 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M2 4.78261L6.41863 9.27513C6.81046 9.67351 7.4527 9.67351 7.84452 9.27513L15 2' stroke='%230BBBEF' stroke-width='4' stroke-linecap='round'/%3e%3c/svg%3e ");
      background-repeat: no-repeat;
      background-size: 10px;
      background-position: center;
      opacity: 0;
    }
  }
}

.form-section__image {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}
.footer {
  padding: 68px 0;
  background-color: #122453;
}
.footer__wrapper {
  display: flex;
  align-items: center;

  & > * {
    flex: 0 0 33.33%;
  }
  .footer__dev {
    color: #fff;
    font-family: Circe;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    a {
      color: #ff4916;
    }
  }
  .footer__logo {
    width: 124px;
    height: 84px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}
