<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хохланд</title>
    <!-- preload fonts -->
    <link rel="preload" href="./fonts/TTMarxiana-Grotesque.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="./fonts/circe-bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="./fonts/circe.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <!-- styles -->
    <link rel="stylesheet" href="./css/aos.css">
    <link rel="stylesheet" href="./css/main.css">
    <!-- bagfix transition zeroscript  -->
    <script> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.7/vue.global.min.js"
        integrity="sha512-lYL7ryKlBHE7bEuM88rB0HtDexkSAn0rKsdFV9lynlE7eQCrmlFw/pyCuCpOnHdS2XVFGpFyPt+HJjg/01aGbw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="body__content">
        <header class="header">
            <div class="container">
                <div class="header__content">
                    <a href="javascript:void(0)" class="header__logo">
                        <img src="./img/footer-logo.svg" alt="">
                    </a>
                    <div class="header__title">
                        <div class="title-segment">Вкусные</div>
                        <div class="red-selection title-segment"><span>новинки</span></div>
                        <!-- <div class="title-segment">от Хохланд</div> -->
                    </div>
                    <div class="header__descr large">+Конкурс</div>
                    <div class="header__descr">Участвуй в конкурсе и получай призы</div>
                </div>
            </div>
            <div class="header__image">
                <img src="./img/main-screen-image.png" alt="">
            </div>
            <div class="header-mouse-ball">
                <svg width="31" height="50" viewBox="0 0 31 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5" y="0.5" width="30" height="49" rx="15" stroke="white" />
                    <rect x="12.5" y="10.5" width="6" height="11" rx="3" stroke="white" />
                </svg>
            </div>
        </header>
        <main>
            <section class="second-screen">
                <div class="container">
                    <div class="second-screen__title">
                        Встречайте сразу три <br>новых вкуса
                    </div>

                    <div class="second-screen__block" data-block="1">
                        <div class="block__text">
                            <div class="block__title">
                                <span>Творожный сыр</span>
                                <span>с маринованными огурцами</span>
                            </div>
                            <div class="block__descr">
                                Этот вкус порадует всех любителей солененького! Сыр нежной кремовой текстурой
                                и&nbsp;пряными
                                нотками маринованных огурчиков не&nbsp;оставит равнодушным. Он&nbsp;легко распределяется
                                по&nbsp;ломтику
                                ржаного хлеба или хрустящему тосту и&nbsp;дарит бутерброду свежий, слегка соленый вкус.
                            </div>
                        </div>
                        <div class="block__image">
                            <div class="new-taste-image">
                                <img src="./img/new taste-1.png" alt="">
                                <div class="new-taste-image__paralax" data-paralax-item="1" data-id="paralax-block">
                                    <div class="new-taste-image__paralax-wrapper" data-depth="-0.02">
                                        <div class="new-taste-image__paralax-container">
                                            <img src="./img/cucumber.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="new-taste-image__paralax" data-paralax-item="2" data-id="paralax-block">
                                    <div class="new-taste-image__paralax-wrapper" data-depth="0.02">
                                        <div class="new-taste-image__paralax-container">
                                            <img src="./img/parsley.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="second-screen__block" data-block="2">
                        <div class="block__image">
                            <div class="new-taste-image">
                                <img src="./img/new taste-2.png" alt="">
                                <div class="new-taste-image__paralax" data-paralax-item="1" data-id="paralax-block">
                                    <div class="new-taste-image__paralax-wrapper" data-depth="-0.02">
                                        <div class="new-taste-image__paralax-container">
                                            <img src="./img/greenery.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="new-taste-image__paralax" data-paralax-item="2" data-id="paralax-block">
                                    <div class="new-taste-image__paralax-wrapper" data-depth="-0.02">
                                        <div class="new-taste-image__paralax-container">
                                            <img src="./img/mushroom.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="new-taste-image__paralax" data-paralax-item="3" data-id="paralax-block">
                                    <div class="new-taste-image__paralax-wrapper" data-depth="0.02">
                                        <div class="new-taste-image__paralax-container">
                                            <img src="./img/pepper.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block__text">
                            <div class="block__title">
                                <span>Творожный сыр «Овощи-гриль»</span>
                            </div>
                            <div class="block__descr">
                                Если вы&nbsp;любите сочные овощи с&nbsp;ароматом дымка, то&nbsp;этот вкус для вас!
                                Текстура
                                здесь
                                сочетается с&nbsp;яркими нотами запеченных овощей и&nbsp;ноткой пикантной паприки!
                                С&nbsp;этим сыром можно
                                приготовить аппетитные закуски для семейного застолья: например, блинные рулетики
                                с&nbsp;зеленью.
                            </div>
                        </div>
                    </div>

                    <div class="second-screen__block" data-block="3">
                        <div class="block__text">
                            <div class="block__title">
                                <span>Творожный сыр с чесноком</span>
                            </div>
                            <div class="block__descr">
                                Этот вкус порадует всех любителей солененького! Сыр нежной кремовой текстурой
                                и&nbsp;пряными
                                Если вы&nbsp;ценитель пикантных вкусов, то&nbsp;этот сыр для вас! Он&nbsp;приготовлен
                                из&nbsp;натурального молока, сливок и&nbsp;настоящего чеснока, поэтому у&nbsp;него такой
                                насыщенный сливочно-чесночный вкус. Этот сыр прекрасно подойдет к&nbsp;хрустящим хлебцам
                            </div>
                        </div>
                        <div class="block__image">
                            <div class="new-taste-image">
                                <img src="./img/new taste-3.png" alt="">
                                <div class="new-taste-image__paralax" data-paralax-item="1" data-id="paralax-block">
                                    <div class="new-taste-image__paralax-wrapper" data-depth="0.02">
                                        <div class="new-taste-image__paralax-container">
                                            <img src="./img/garlic.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="new-taste-image__paralax" data-paralax-item="2" data-id="paralax-block">
                                    <div class="new-taste-image__paralax-wrapper" data-depth="-0.02">
                                        <div class="new-taste-image__paralax-container">
                                            <img src="./img/onion.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <section class="poll-section">
                <div class="container">
                    <div class="poll-app" id="poll-app">
                        <div class="poll-app__questions" v-if="!showResult && currentQuestion">
                            <div class="poll-section__title">Создай свой идеальный <br> завтрак с Хохланд</div>
                            <div class="poll-app__questions-content">
                                <div class="poll-app__question">{{currentQuestion.question}}</div>
                                <div class="poll-app__answer-list">
                                    <div class="poll-app-answer" v-for="answer in currentQuestion.answerList">
                                        <input type="radio" class="answer__input" :name="currentQuestion.question"
                                            :value="answer.type" v-model="selectedAnswerLetter">
                                        <div class="answer__content">
                                            <div class="answer__letter">{{answer.letter}}.</div>
                                            <div class="answer__text">{{answer.text}}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="poll-app-btn gradient-btn" @click="setAnswer"><span>Ответить</span></div>
                            </div>
                            <div class="poll-app__questions-image">
                                <img src="./img/poll-image.jpg" alt="">
                            </div>
                        </div>
                        <div v-if="showResult && resultType" class="test-result">
                            <div class="poll-section__title">Ваш идеальный завтрак!</div>
                            <div class="test-result__title">{{resultType.resTitle}}</div>
                            <div class="test-result__wrapper">
                                <div class="test-result__block">
                                    <div class="test-result__subtitle">Вам понадобятся:</div>
                                    <div class="ingredient-item" v-for="ingredient in resultType.ingredients">
                                        <span class="ingredient__name">{{ingredient.name}}</span>
                                        —
                                        <span class="ingredient__count">{{ingredient.count}}</span>
                                    </div>
                                </div>
                                <div class="test-result__block">
                                    <div class="test-result__subtitle">Как готовить:</div>
                                    <div class="cooking-process__item"
                                        v-for="(cookingProcessItem,index) in resultType.cookingProcess">
                                        <div class="cooking-process__item-num">{{index +1}}.</div>
                                        <div class="cooking-process__item-text">{{cookingProcessItem}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-wrapper">
                                <div class="gradient-btn" @click="restartPoll"><span>Пройти ещё раз</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="contest">

                <div class="container">
                    <div class="contest__title__wrapper">
                        <div class="contest__title">
                            <div class="title-segment">Внимание,</div>
                            <div class="red-selection title-segment">конкурс</div>
                            <div class="title-segment _small">«Сначала сфоткай, потом съешь»</div>
                        </div>
                        <div class="contest__paralax" data-paralax-item="2" data-id="paralax-block">
                            <div class="contest__paralax-wrapper" data-depth="0.02">
                                <div class="contest__paralax-container">
                                    <img src="./img/vegetables-pair.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="contest__about">
                        <div class="about__block">
                            <div class="about__title">О конкурсе</div>
                            <p>
                                Теперь, когда вы&nbsp;знаете, как приготовить идеальный завтрак с&nbsp;сыром Хохланд,
                                пришло
                                время проверить это на&nbsp;практике. Объявляем конкурс на&nbsp;лучшую фотографию вашего
                                любимого завтрака с&nbsp;новыми вкусами Хохланд.
                            </p>
                            <span>
                                Призы получат участники конкурса, чьи фотографии<br> займут 1,2 и&nbsp;3&nbsp;место
                                по&nbsp;количеству лайков.
                            </span>
                        </div>
                        <div class="about__block">
                            <div class="about__title">Условия просты</div>
                            <div class="about__list">
                                <div class="list-item">Выберите рецепт, который подходит вашему типу личности
                                    по&nbsp;итогам
                                    теста.</div>
                                <div class="list-item">Приготовьте это блюдо, используя творожные новинки
                                    от&nbsp;&laquo;Хохланд&raquo;</div>
                                <div class="list-item">Сфотографируйте готовый завтрак (совет: отнеситесь к&nbsp;задаче
                                    творчески, это повысит ваши шансы на&nbsp;победу).</div>
                                <div class="list-item">Расскажите, сколько времени ушло на&nbsp;готовку, и&nbsp;каким
                                    завтрак оказался на&nbsp;вкус.</div>
                                <div class="list-item">Ждите лайки от&nbsp;восторженных коллег</div>
                            </div>
                        </div>
                    </div>

                    <div class="contest__bann">
                        <div class="bann__title">Призы</div>
                    </div>
                    <div class="btn-wrapper">
                        <a href="javascript:void(0)" class="gradient-btn"><span>Принять участие в конкурсе!</span></a>
                    </div>
                </div>
            </section>
            <section class="form-section">
                <div class="container">
                    <div class="form-section__wrapper">
                        <div class="form-section__text">
                            <div class="form-section__title">Остались <br> вопросы?</div>
                            <div class="form-section__descr">Заполни форму и&nbsp;мы <br> с&nbsp;радостью
                                проконсультируем,
                                развеем тревоги и&nbsp;сомнения :)</div>
                        </div>
                        <div class="form-section__inner">
                            <form action="#">
                                <div class="inputs-wrapper">
                                    <input type="text" placeholder="Имя" class="form-input">
                                    <input type="text" placeholder="Фамилия" class="form-input">
                                </div>
                                <div class="inputs-wrapper">
                                    <input type="email" placeholder="E-mail" class="form-input">
                                    <input type="tel" placeholder="Телефон" class="form-input">
                                </div>
                                <textarea name="form-textarea" class="form-textarea"
                                    placeholder="Комментарий"></textarea>
                                <div class="privacy-block">
                                    <input type="checkbox" class="privacy-block__cb">
                                    <span class="privacy-block__text">Соглашаюсь на обработку персональных данных в
                                        соответствии с Политикой</span>
                                </div>
                                <button class="gradient-btn"><span>Отправить</span></button>
                            </form>
                        </div>
                    </div>
                    <div class="form-section__image">
                        <img src="./img/footer-vegetables.png" alt="">
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="container">
                <div class="footer__wrapper">
                    <div class="footer__dev">
                        Сделано в <a href="https://mlgr.ru/" target="_blank">MediaLine</a>
                    </div>
                    <a href="javascript:void(0)" class="footer__logo">
                        <img src="./img/footer-logo.svg" alt="">
                    </a>
                    <div class="footer__socials"></div>
                </div>
            </div>
        </footer>

        <div class="form-modal" id="form-modal">
            <div class="form-modal__content">
                <div class="form-modal__close">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1.41406" width="26" height="2" transform="rotate(45 1.41406 0)" fill="white" />
                        <rect x="19.8008" y="1.41406" width="26" height="2" transform="rotate(135 19.8008 1.41406)"
                            fill="white" />
                    </svg>
                </div>
                <div class="form-modal__title">Ваше обращение <br> отправлено.</div>
                <div class="form-modal__descr">Спасибо за обратную связь!</div>
            </div>
        </div>
    </div>
    <script src="./js/parallax.min.js"></script>
    <script src="./js/main.js"></script>
    <script>
        const questionsList = [
            {
                question: '01. Как бы вы описали свое утро?',
                answerList: [
                    {
                        letter: "A",
                        text: 'Время для себя. Люблю спокойно посидеть за чашечкой кофе.',
                        type: 'З'
                    },
                    {
                        letter: "Б",
                        text: 'Главное — активность: каждый день начинаю со спорта.',
                        type: 'Д'
                    },
                    {
                        letter: "В",
                        text: 'Встаю по будильнику, чтобы не опоздать на работу.',
                        type: 'И'
                    },
                    {
                        letter: "Г",
                        text: 'Ранний подъем не моё. Ложусь поздно и сплю до обеда.',
                        type: 'Е'
                    },
                ]
            },

            {
                question: '02. Ваш любимый напиток на завтрак:',
                answerList: [
                    {
                        letter: "A",
                        text: 'Крепкий черный кофе',
                        type: 'Ж'
                    },
                    {
                        letter: "Б",
                        text: 'Капучино или латте',
                        type: 'А'
                    },
                    {
                        letter: "В",
                        text: 'Черный или зеленый чай',
                        type: 'Б'
                    },
                    {
                        letter: "Г",
                        text: 'Вода или сок',
                        type: 'Д'
                    },
                ]
            },
            {
                question: '03. Какой день недели самый любимый:',
                answerList: [
                    {
                        letter: "A",
                        text: 'Понедельник. Да, я не шучу.',
                        type: 'Ж'
                    },
                    {
                        letter: "Б",
                        text: 'Среда, ведь это маленькая пятница',
                        type: 'Е'
                    },
                    {
                        letter: "В",
                        text: 'Пятница — ведь впереди выходные',
                        type: 'В'
                    },
                    {
                        letter: "Г",
                        text: 'Суббота — любимый выходной',
                        type: 'Г'
                    },
                ]
            },
            {
                question: '04. Что для вас завтрак?',
                answerList: [
                    {
                        letter: "A",
                        text: 'Главный прием пищи. Остальную еду — отдаю врагам.',
                        type: 'Д'
                    },
                    {
                        letter: "Б",
                        text: 'Заставляю себя есть, чтобы зарядиться энергией на день',
                        type: 'Г'
                    },
                    {
                        letter: "В",
                        text: 'Это приятный способ провести утро',
                        type: 'Б'
                    },
                    {
                        letter: "Г",
                        text: 'Предпочитаю другие приемы пищи',
                        type: 'И'
                    },
                ]
            },
            {
                question: '05. Ваше любимое блюдо на завтрак:',
                answerList: [
                    {
                        letter: "A",
                        text: 'Сэндвич или бутерброд',
                        type: 'Г'
                    },
                    {
                        letter: "Б",
                        text: 'Омлет или яичница',
                        type: 'А'
                    },
                    {
                        letter: "В",
                        text: 'Каша или мюсли с молоком',
                        type: 'Б'
                    },
                    {
                        letter: "Г",
                        text: 'Йогурт или творог',
                        type: 'Д'
                    },
                ]
            },
            {
                question: '06. Где вы предпочитаете завтракать?',
                answerList: [
                    {
                        letter: "A",
                        text: 'В постели или дома на диване',
                        type: 'Е'
                    },
                    {
                        letter: "Б",
                        text: 'За столом на кухне или в столовой',
                        type: 'И'
                    },
                    {
                        letter: "В",
                        text: 'В кафе или кофейне',
                        type: 'В'
                    },
                    {
                        letter: "Г",
                        text: 'В офисе',
                        type: 'Ж'
                    },
                ]
            },
            {
                question: '07. Как у вас с кулинарными способностями?',
                answerList: [
                    {
                        letter: "A",
                        text: 'Люблю и умею готовить, изучаю новые рецепты',
                        type: 'Е'
                    },
                    {
                        letter: "Б",
                        text: ' Я хорошо готовлю, но только под настроение',
                        type: 'З'
                    },
                    {
                        letter: "В",
                        text: 'Лучше всего я разогреваю полуфабрикаты',
                        type: 'И'
                    },
                    {
                        letter: "Г",
                        text: 'Зачем готовить, если можно заказать еду на дом?',
                        type: 'Ж'
                    },
                ]
            },
            {
                question: '08. Какой фильм вы бы сейчас посмотрели?',
                answerList: [
                    {
                        letter: "A",
                        text: 'Завтрак у Тиффани',
                        type: 'А'
                    },
                    {
                        letter: "Б",
                        text: 'Сериал «Кухня»',
                        type: 'В'
                    },
                    {
                        letter: "В",
                        text: 'Шоколад',
                        type: 'З'
                    },
                    {
                        letter: "Г",
                        text: 'Ешь, молись, люби',
                        type: 'Г'
                    },
                ]
            },
            {
                question: '09. С кем бы вам хотелось провести идеальный завтрак?',
                answerList: [
                    {
                        letter: "A",
                        text: 'С родными и семьей',
                        type: 'Б'
                    },
                    {
                        letter: "Б",
                        text: 'Со знаменитостью',
                        type: 'З'
                    },
                    {
                        letter: "В",
                        text: 'С близкими друзьями',
                        type: 'В'
                    },
                    {
                        letter: "Г",
                        text: 'С любимым человеком',
                        type: 'А'
                    },
                ]
            }
        ]
        const testResult = {
            "A": {
                resTitle: 'Романтик. Вам подойдет неспешный уютный завтрак вдвоем с любимым человеком. Приготовьте ему Бриошь с творожным сыром со вкусом овощей-гриль и помидорами. И подайте в постель вместе с фруктами и ароматным кофе.',
                ingredients: [
                    {
                        name: 'Бриошь',
                        count: '4 ломтика (можно заменить на обычный хлеб для тостов)'
                    },
                    {
                        name: 'Сыр творожный Hochland со вкусом «овощи-гриль»',
                        count: '200 гр.'
                    },
                    {
                        name: 'Молоко',
                        count: '200 мл.'
                    },
                    {
                        name: 'Яйцо',
                        count: '1 шт.'
                    },
                    {
                        name: 'Чеснок',
                        count: '2 зубчика'
                    },
                    {
                        name: 'Оливковое масло',
                        count: '3 ст.л.'
                    },
                    {
                        name: 'Помидор',
                        count: '1 шт. (или помидоры черри'
                    },
                    {
                        name: 'Руккола',
                        count: '70 гр.'
                    },
                    {
                        name: 'Соль, перец',
                        count: 'по вкусу'
                    },
                ],
                cookingProcess: [
                    "Взбейте яйцо с молоком, посолите.",
                    "В яичную смесь добавьте бриоши или тосты.",
                    "Обжарьте на горячей сковороде с маслом.",
                    "Нарежьте помидор кружочками.",
                    "В творожный сыр выдавите чеснок, перемешайте.",
                    "На готовые бриоши нанесите творожный сыр со вкусом «овощи-гриль» с добавлением чеснока, добавьте рукколу и помидоры."
                ]
            },
            "Б": {
                resTitle: 'Примерный семьянин. Вам подойдет традиционный завтрак со вкусными и сытными блюдами, которые понравятся всем членам семьи.  Попробуйте приготовить в выходные Пикантные панкейки на творожном сыре со вкусом маринованных огурчиков.',
                ingredients: [
                    {
                        name: 'Мука',
                        count: '120 гр.'
                    },
                    {
                        name: 'Молоко',
                        count: '300 мл.'
                    },
                    {
                        name: 'Творожный сыр Hochland со вкусом маринованных огурчиков',
                        count: '200 гр.'
                    },
                    {
                        name: 'Большое яйцо',
                        count: '1 шт.'
                    },
                    {
                        name: 'Консервированная кукуруза',
                        count: '150 гр.'
                    },
                    {
                        name: 'Небольшая морковка',
                        count: '1 шт.'
                    },
                    {
                        name: 'Веточка петрушки',
                        count: '3 шт.'
                    },
                    {
                        name: 'Сливочное масло',
                        count: '25 гр.'
                    },
                    {
                        name: 'Соль',
                        count: '1/2 ч. л.'
                    },
                ],
                cookingProcess: [
                    "Натрите морковь на мелкой терке. Мелко нарежьте петрушк",
                    "Просейте муку с солью в миску. Добавьте яйцо и половину молока и хорошо перемешайте, пока у вас не получится гладкое, густое тесто.",
                    "Вмешайте творожный сыр, а затем влейте оставшееся молоко и хорошо размешайте до однородности.",
                    "Добавьте в тесто кукурузу, морковь, петрушку.",
                    "Растопите сливочное масло. Разогрейте сковороду на среднем огне. Смазывайте сковороду с помощью кисточки растопленным маслом и выкладывайте по 2–3 ст. л. теста. Жарьте по 1–2 мин. с каждой стороны.",
                    "Готовые панкейки перекладывайте на тарелку и прикрывайте фольгой, чтобы сохранить их теплыми. Подавайте со сметаной.",
                ]
            },
            "В": {
                resTitle: 'Душа компании. Вам определённо стоит устроить завтрак с друзьями в мексиканском стиле и удивить их потрясающей Кесадильей с курицей и нашим новым творожным сыром с чесноком.',
                ingredients: [
                    {
                        name: 'Творожный сыр Hochland с чесноком для',
                        count: '80 гр.'
                    },
                    {
                        name: 'Тортилья пшеничная',
                        count: '1 шт.'
                    },
                    {
                        name: 'Петрушка ',
                        count: '5 гр.'
                    },
                    {
                        name: 'Томаты',
                        count: '20 гр.'
                    },
                    {
                        name: 'Репчатый лук',
                        count: '15 гр.'
                    },
                    {
                        name: 'Соль',
                        count: '2 гр.'
                    },
                    {
                        name: 'Куриная грудка',
                        count: '40 гр.'
                    },
                    {
                        name: 'Масло растительное',
                        count: '10 мл.'
                    },
                    {
                        name: 'Кетчуп',
                        count: '30 мл.'
                    },
                    {
                        name: 'Масло сливочное',
                        count: '10 гр.'
                    },
                ],
                cookingProcess: [
                    'Предварительно обжарить на растительном масле куриную грудку, остудить, нарезать кубиками.',
                    'На тарелку положить лепешку, смазать творожным сыром, по всей поверхности посыпать нарезанными томатами, жареным луком, куриной грудкой и мелкорубленной петрушкой.',
                    'Тортилью сложить пополам, обжарить на сливочном масле с 2х сторон до золотистого цвета',
                    'Готовую тортилью переложить на доску и порезать на 3 равные части. Кесадилья готова. Подавать с кетчупом.'
                ]
            },
            "Г": {
                resTitle: 'Искатель приключений. Такие люди не могут долго сидеть на одном месте — всегда стремятся к новому. Долгий завтрак не для вас. Попробуйте приготовить брускетты с творожным сыром со вкусом овощей гриль, черри и маслинами. И вкусно, и сытно, и можно взять с собой, чтобы отправиться на поиски свежих впечатлений.',
                ingredients: [
                    {
                        name: 'Творожный сыр Hochland «овощи-гриль»',
                        count: '200 гр.'
                    },
                    {
                        name: 'Xлеб чиабатта классическая',
                        count: '300 гр.'
                    },
                    {
                        name: 'Томаты черри',
                        count: '80 гр.'
                    },
                    {
                        name: 'Чеснок',
                        count: '1 зубчик'
                    },
                    {
                        name: 'Масло ол.',
                        count: '30 гр.'
                    },
                    {
                        name: 'Маслины',
                        count: '30 гр.'
                    },
                    {
                        name: 'Лук зелёный',
                        count: '20 гр.'
                    },
                    {
                        name: 'Базилик',
                        count: '20 гр.'
                    },
                    {
                        name: 'Соль, перец',
                        count: 'по вкусу'
                    },
                ],
                cookingProcess: [
                    'Хлеб (4 ломтика) обжариваем на сковородке на оливковом масле или подсушиваем в тостере, а потом сбрызгиваем оливковым маслом.',
                    'Готовую основу для будущих брускетт натираем с одной стороны чесноком.',
                    'Зелёный лук и часть базилика мелко порубить, смешать с сыром Hochland, посолить и поперчить по вкусу.',
                    'Готовую сырную массу намазываем толстым слоем на ломтики хлеба.',
                    'Сверху положить нарезанные на половинки томаты черри и маслины. Сбрызнуть готовые брускетты оливковым маслом, украсить веточкой базилика и можно подавать к столу.'
                ]
            },
            "Д": {
                resTitle: "Фанат здоровья. Вам важно питаться правильно и плодотворно начинать день, поэтому на завтрак вам подойдет легкий микс-салат с творожным сыром со вкусом маринованных огурчиков и куриной грудкой. Этот изысканный и красивый салат станет абсолютным хитом для тех, кто внимательно следит за своим здоровьем и хочет питаться вкусно и сбалансированно.",
                ingredients: [
                    {
                        name: 'Творожный сыр Hochland со вкусом маринованных огурчиков',
                        count: '140 гр.'
                    },
                    {
                        name: 'Микс салатных листьев',
                        count: '1/2 стандартной упаковки'
                    },
                    {
                        name: 'Отварная куриная грудка',
                        count: '200 гр.'
                    },
                    {
                        name: 'Огурчики',
                        count: '2 шт.'
                    },
                    {
                        name: 'Яйца, сваренные вкрутую',
                        count: '2 шт.'
                    },
                    {
                        name: 'Оливковое масло, лимон, хлопья чилийского перца, прованские травы, соль',
                        count: 'по вкусу'
                    },
                ],
                cookingProcess: [
                    'Огурцы нарежьте лентами с помощью овощечистки или слайсера.',
                    'Яйца заранее отварите, охладите, почистите и нарежьте.',
                    'На микс свежих салатных листьев выкладываем порезанное кубиками куриное мясо, ленты свежих огурцов, четвертинки яиц, ну и, конечно, творожный сыр со вкусом маринованных огурчиков.',
                    'Для заправки смешайте оливковое масло с лимонным соком, солью, прованскими травами и хлопьями чили. Заправьте салат этим соусом.'
                ]
            },
            "Е": {
                resTitle: ' Творческая натура. Вам просто необходимо хорошее настроение и вдохновение с утра. Творческий завтрак в виде теплых оладушков с творожным сыром со вкусом овощей-гриль и красной рыбой — идеальное решение. Это  завтрак добавит красок в жизнь. И, кстати, оладушки можно украсить максимально креативно. Еще и развлечение.',
                ingredients: [
                    {
                        name: 'Мука',
                        count: '1 стакан'
                    },
                    {
                        name: 'разрыхлитель',
                        count: '1 ч. л.'
                    },
                    {
                        name: 'Соль',
                        count: '1/4 ч. л.'
                    },
                    {
                        name: 'Кефир',
                        count: '1 стакан'
                    },
                    {
                        name: 'Яйца',
                        count: '1 шт.'
                    },
                    {
                        name: 'Сахар',
                        count: '1 ч. л.'
                    },
                    {
                        name: 'Растопленное сливочное масло ',
                        count: '2 ст. л.'
                    },
                    {
                        name: 'Растительное масло',
                        count: 'для жарения'
                    },
                    {
                        name: 'Слабосоленая красная рыба (лосося, горбуши, форели)',
                        count: '150 гр.'
                    },
                    {
                        name: 'Творожный сыр «Овощи-гриль» Hochland',
                        count: '220 гр.'
                    },
                    {
                        name: 'Ломтики огурца',
                        count: 'для подачи'
                    },
                    {
                        name: 'Укроп',
                        count: 'для подачи'
                    },
                ],
                cookingProcess: [
                    'Просейте вместе муку, разрыхлитель и соль.',
                    'В миске смешайте кефир, яйцо и сахар. Всыпьте мучную смесь и быстро размешайте. Оставьте тесто на 10 мин.',
                    'Затем добавьте к тесту растопленное сливочное масло и перемешайте.',
                    'Разогрейте сковороду с антипригарным покрытием и смажьте ее растительным маслом. Наливайте тесто столовой ложкой и выпекайте маленькие оладушки.',
                    'Разложите оладушки на блюде. На каждый выложите по ложке творожного сыра и ломтику рыбы. Украсьте кружочком огурца и веточкой укропа и подавайте.'
                ]
            },
            "Ж": {
                resTitle: 'Карьерист. Вам важно быть сосредоточенным и продуктивным, ведь с самого утра все мысли уже на работе. В этом случае подойдет быстрый и питательный завтрак. Например, запеченный омлет с брокколи, ломтиками слабосоленого лосося и с творожным сыром со вкусом чеснока. Этот завтрак поможет начать день бодро и успешно.',
                ingredients: [
                    {
                        name: 'Творожный сыр Hochland с чесноком',
                        count: '140 гр, 1-2 ст.л'
                    },
                    {
                        name: 'брокколи',
                        count: '200 гр.'
                    },
                    {
                        name: 'Яйца',
                        count: '4 шт.'
                    },
                    {
                        name: 'Сливки 10%',
                        count: '40-50 мл.'
                    },
                    {
                        name: 'Лосось слабосолёный',
                        count: '100-150 гр.'
                    },
                    {
                        name: 'Салатный микс',
                        count: 'горсть'
                    },
                    {
                        name: 'Оливковое масло, свежемолотый перец, соль',
                        count: 'по вкусу'
                    },
                ],
                cookingProcess: [
                    'В глубокой миске смешать венчиком яйца со сливками, добавить по вкусу соль и перец.',
                    'Форму для запекания смазать оливковым маслом.',
                    'В форму выложить кусочки брокколи и залить их яичной смесью. Запекать омлет примерно 15-20 минут.',
                    'На готовый омлет выложить ломтики рыбы, одну или две столовые ложки сыра и украсить блюдо салатным миксом. Подавать горячим и в форме для запекания.'
                ]
            },
            "З": {
                resTitle: 'Мечтатель. Вы не любите суету и предпочитаете проводить время наедине с собой. Вам важны гармония и красота во всем, и завтрак не должен стать исключением. Попробуйте приготовить пикантные тосты с авокадо. Это блюдо по-настоящему вдохновляет.',
                ingredients: [
                    {
                        name: 'Хлеб ',
                        count: '4 ломтика'
                    },
                    {
                        name: 'Авокадо ',
                        count: ' 1 шт.'
                    },
                    {
                        name: 'Лимонный сок',
                        count: '20 мл.'
                    },
                    {
                        name: 'Помидор ',
                        count: '1 шт.'
                    },
                    {
                        name: 'Творожный сыр Hochland со вкусом «овощи-гриль»',
                        count: '140 гр.'
                    },
                ],
                cookingProcess: [
                    'Почистить авокадо, нарезать кубиками, сбрызнуть лимонным соком.',
                    'Помидор нарезать кубиками.',
                    'Подогреть хлеб в тостере или на сухой сковороде.',
                    'Поджаристый хлеб намазать сыром, выложить начинку. Украсить зеленью.',
                ]
            },
            "И": {
                resTitle: 'Белка в колесе. У вас всегда много дел, поэтому завтрак должен быть быстрым и  сытным. Уверены, что бутерброды уже надоели, поэтому предлагаем приготовить Рулет в лаваше. Времени на приготовление уйдет немного, зато вкусом насладиться успеете по полной. Даже если очень спешите. ',
                ingredients: [
                    {
                        name: 'Творожный сыр Hochland со вкусом чеснока',
                        count: '200 гр.'
                    },
                    {
                        name: 'Сливки 20%',
                        count: '50 мл.'
                    },
                    {
                        name: 'Лосось слабосоленый (тонкие ломтики)',
                        count: '150 гр.'
                    },
                    {
                        name: 'Нарезанные укроп и петрушка',
                        count: '50 гр.'
                    },
                    {
                        name: 'Огурец длинноплодный',
                        count: '1 шт.'
                    },
                    {
                        name: 'Лаваш',
                        count: '1 шт.'
                    },
                ],
                cookingProcess: [
                    'Смешать лопаткой творожный сыр, сливки и зелень в однородную массу.',
                    'Снять с огурца кожуру, нарезать его тонкими длинными ломтиками.',
                    'Нанести на лаваш слой сырной массы с зеленью не более 0,5 см.',
                    'Выложить на сырную массу ломтики огурца в один слой, поверх огурца выложить ломтики лосося.',
                    'Свернуть из лаваша рулет, порезать на кусочки, нанизать на деревянные шпажки.'
                ]
            }
        }

        const pollApp = {
            data() {
                return {
                    questionsList,
                    testResult,
                    currentQuestionIndex: 0,
                    selectedAnswerLetter: '',
                    answerList: [],
                    showResult: false,
                    // resultType: null
                }
            },
            computed: {
                currentQuestion() {
                    return this.questionsList[this.currentQuestionIndex] ? this.questionsList[this.currentQuestionIndex] : null;
                },
                resultType() {
                    return this.testResult[this.findMostFrequentElement(this.answerList)];
                }
            },
            methods: {
                setAnswer() {
                    if (this.selectedAnswerLetter == '') return;
                    this.answerList.push(this.selectedAnswerLetter);
                    this.selectedAnswerLetter = '';
                    this.currentQuestionIndex++;
                    if (this.currentQuestionIndex === this.questionsList.length) {
                        // this.resultType = this.testResult[this.findMostFrequentElement(this.answerList)];
                        this.$nextTick(() => {
                            console.log();
                            this.showResult = true;
                        });
                    }
                },
                restartPoll() {
                    this.currentQuestionIndex = 0;
                    this.answerList = [];
                    this.showResult = false;
                    // this.resultType = null;
                },
                findMostFrequentElement(arr) {
                    const elementCount = {};
                    let maxCount = 0;
                    let mostFrequentElements = [];
                    arr.forEach(element => (elementCount[element] = (elementCount[element] || 0) + 1) > maxCount ? maxCount = elementCount[element] : null);
                    arr.forEach(element => elementCount[element] === maxCount ? mostFrequentElements.push(element) : null);
                    return mostFrequentElements[Math.floor(Math.random() * mostFrequentElements.length)];
                }
            }
        }

        const app = Vue.createApp(pollApp);
        app.mount('#poll-app');
    </script>
</body>

</html>