<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Хохланд</title>
    <!-- preload fonts -->
    <link rel="preload" href="./fonts/TTMarxiana-Grotesque.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="./fonts/circe-bold.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="./fonts/circe.woff2" as="font" type="font/woff2" crossorigin="anonymous">
    <!-- styles -->
    <link rel="stylesheet" href="./css/aos.css">
    <link rel="stylesheet" href="./css/main.css">
    <!-- bagfix transition zeroscript  -->
    <script> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.7/vue.global.min.js"
        integrity="sha512-lYL7ryKlBHE7bEuM88rB0HtDexkSAn0rKsdFV9lynlE7eQCrmlFw/pyCuCpOnHdS2XVFGpFyPt+HJjg/01aGbw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="body__content">
        <header class="header">
            <div class="container">
                <div class="header__content">
                    <div class="header__logo">
                        <img src="./img/logo.svg" alt="">
                    </div>
                    <div class="header__title">
                        <div class="title-segment">Вкусные</div>
                        <div class="red-selection title-segment"><span>новинки</span></div>
                        <div class="title-segment">от Хохланд</div>
                    </div>
                    <div class="header__descr large">+Конкурс</div>
                    <div class="header__descr">Участвуй в конкурсе и получай призы</div>
                </div>
            </div>
            <div class="header__image">
                <img src="./img/main-screen-image.png" alt="">
            </div>
            <div class="header-mouse-ball">
                <svg width="31" height="50" viewBox="0 0 31 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5" y="0.5" width="30" height="49" rx="15" stroke="white" />
                    <rect x="12.5" y="10.5" width="6" height="11" rx="3" stroke="white" />
                </svg>
            </div>
        </header>
        <main>
            <section class="second-screen">
                <div class="container">
                    <div class="second-screen__title">
                        Встречайте сразу три <br>новых вкуса
                    </div>

                    <div class="second-screen__block" data-block="1">
                        <div class="block__text">
                            <div class="block__title">
                                <span>Творожный сыр</span>
                                <span>с маринованными огурцами</span>
                            </div>
                            <div class="block__descr">
                                Этот вкус порадует всех любителей солененького! Сыр нежной кремовой текстурой
                                и&nbsp;пряными
                                нотками маринованных огурчиков не&nbsp;оставит равнодушным. Он&nbsp;легко распределяется
                                по&nbsp;ломтику
                                ржаного хлеба или хрустящему тосту и&nbsp;дарит бутерброду свежий, слегка соленый вкус.
                            </div>
                        </div>
                        <div class="block__image">
                            <div class="new-taste-image">
                                <img src="./img/new taste-1.png" alt="">
                                <div class="new-taste-image__paralax" data-paralax-item="1" data-id="paralax-block">
                                    <div class="new-taste-image__paralax-wrapper" data-depth="-0.02">
                                        <div class="new-taste-image__paralax-container">
                                            <img src="./img/cucumber.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="new-taste-image__paralax" data-paralax-item="2" data-id="paralax-block">
                                    <div class="new-taste-image__paralax-wrapper" data-depth="0.02">
                                        <div class="new-taste-image__paralax-container">
                                            <img src="./img/parsley.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="second-screen__block" data-block="2">
                        <div class="block__image">
                            <div class="new-taste-image">
                                <img src="./img/new taste-2.png" alt="">
                                <div class="new-taste-image__paralax" data-paralax-item="1" data-id="paralax-block">
                                    <div class="new-taste-image__paralax-wrapper" data-depth="-0.02">
                                        <div class="new-taste-image__paralax-container">
                                            <img src="./img/greenery.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="new-taste-image__paralax" data-paralax-item="2" data-id="paralax-block">
                                    <div class="new-taste-image__paralax-wrapper" data-depth="-0.02">
                                        <div class="new-taste-image__paralax-container">
                                            <img src="./img/mushroom.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="new-taste-image__paralax" data-paralax-item="3" data-id="paralax-block">
                                    <div class="new-taste-image__paralax-wrapper" data-depth="0.02">
                                        <div class="new-taste-image__paralax-container">
                                            <img src="./img/pepper.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="block__text">
                            <div class="block__title">
                                <span>Творожный сыр «Овощи-гриль»</span>
                            </div>
                            <div class="block__descr">
                                Если вы&nbsp;любите сочные овощи с&nbsp;ароматом дымка, то&nbsp;этот вкус для вас!
                                Текстура
                                здесь
                                сочетается с&nbsp;яркими нотами запеченных овощей и&nbsp;ноткой пикантной паприки!
                                С&nbsp;этим сыром можно
                                приготовить аппетитные закуски для семейного застолья: например, блинные рулетики
                                с&nbsp;зеленью.
                            </div>
                        </div>
                    </div>

                    <div class="second-screen__block" data-block="3">
                        <div class="block__text">
                            <div class="block__title">
                                <span>Творожный сыр с чесноком</span>
                            </div>
                            <div class="block__descr">
                                Этот вкус порадует всех любителей солененького! Сыр нежной кремовой текстурой
                                и&nbsp;пряными
                                Если вы&nbsp;ценитель пикантных вкусов, то&nbsp;этот сыр для вас! Он&nbsp;приготовлен
                                из&nbsp;натурального молока, сливок и&nbsp;настоящего чеснока, поэтому у&nbsp;него такой
                                насыщенный сливочно-чесночный вкус. Этот сыр прекрасно подойдет к&nbsp;хрустящим хлебцам
                            </div>
                        </div>
                        <div class="block__image">
                            <div class="new-taste-image">
                                <img src="./img/new taste-3.png" alt="">
                                <div class="new-taste-image__paralax" data-paralax-item="1" data-id="paralax-block">
                                    <div class="new-taste-image__paralax-wrapper" data-depth="0.02">
                                        <div class="new-taste-image__paralax-container">
                                            <img src="./img/garlic.png" alt="">
                                        </div>
                                    </div>
                                </div>
                                <div class="new-taste-image__paralax" data-paralax-item="2" data-id="paralax-block">
                                    <div class="new-taste-image__paralax-wrapper" data-depth="-0.02">
                                        <div class="new-taste-image__paralax-container">
                                            <img src="./img/onion.png" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <div class="poll-section">
                <div class="container">
                    <div class="poll-section__title">Создай свой идеальный <br> завтрак с Хохланд</div>
                    <div class="poll-app" id="poll-app">
                        <div class="poll-app__questions" v-if="!showResult">
                            <div class="poll-app__question">{{currentQuestion.question}}</div>
                            <div class="poll-app__answer-list">
                                <div class="poll-app-answer" v-for="answer in currentQuestion.answerList">
                                    <input type="radio" class="answer__input" :name="currentQuestion.question"
                                        :value="answer.type" v-model="selectedAnswerLetter">
                                    <div class="answer__content">
                                        <div class="answer__letter">{{answer.letter}}.</div>
                                        <div class="answer__text">{{answer.text}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="poll-app-btn gradient-btn" @click="setAnswer"><span>Ответить</span></div>
                        </div>
                        <div v-else>
                            res
                        </div>
                    </div>
                </div>
            </div>
            <section class="contest">

                <div class="container">
                    <div class="contest__title__wrapper">
                        <div class="contest__title">
                            <div class="title-segment">Внимание,</div>
                            <div class="red-selection title-segment">конкурс</div>
                            <div class="title-segment _small">«Сначала сфоткай, потом съешь»</div>
                        </div>
                        <div class="contest__paralax" data-paralax-item="2" data-id="paralax-block">
                            <div class="contest__paralax-wrapper" data-depth="0.02">
                                <div class="contest__paralax-container">
                                    <img src="./img/vegetables-pair.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="contest__about">
                        <div class="about__block">
                            <div class="about__title">О конкурсе</div>
                            <p>
                                Теперь, когда вы&nbsp;знаете, как приготовить идеальный завтрак с&nbsp;сыром Хохланд,
                                пришло
                                время проверить это на&nbsp;практике. Объявляем конкурс на&nbsp;лучшую фотографию вашего
                                любимого завтрака с&nbsp;новыми вкусами Хохланд.
                            </p>
                            <span>
                                Призы получат участники конкурса, чьи фотографии<br> займут 1,2 и&nbsp;3&nbsp;место
                                по&nbsp;количеству лайков.
                            </span>
                        </div>
                        <div class="about__block">
                            <div class="about__title">Условия просты</div>
                            <div class="about__list">
                                <div class="list-item">Выберите рецепт, который подходит вашему типу личности
                                    по&nbsp;итогам
                                    теста.</div>
                                <div class="list-item">Приготовьте это блюдо, используя творожные новинки
                                    от&nbsp;&laquo;Хохланд&raquo;</div>
                                <div class="list-item">Сфотографируйте готовый завтрак (совет: отнеситесь к&nbsp;задаче
                                    творчески, это повысит ваши шансы на&nbsp;победу).</div>
                                <div class="list-item">Расскажите, сколько времени ушло на&nbsp;готовку, и&nbsp;каким
                                    завтрак оказался на&nbsp;вкус.</div>
                                <div class="list-item">Ждите лайки от&nbsp;восторженных коллег</div>
                            </div>
                        </div>
                    </div>

                    <div class="contest__bann">
                        <div class="bann__title">Призы</div>
                    </div>
                    <div class="btn-wrapper">
                        <a href="javascript:void(0)" class="gradient-btn"><span>Принять участие в конкурсе!</span></a>
                    </div>
                </div>
            </section>
            <section class="form-section">
                <div class="container">
                    <div class="form-section__wrapper">
                        <div class="form-section__text">
                            <div class="form-section__title">Остались <br> вопросы?</div>
                            <div class="form-section__descr">Заполни форму и&nbsp;мы <br> с&nbsp;радостью
                                проконсультируем,
                                развеем тревоги и&nbsp;сомнения :)</div>
                        </div>
                        <div class="form-section__inner">
                            <form action="#">
                                <div class="inputs-wrapper">
                                    <input type="text" placeholder="Имя" class="form-input">
                                    <input type="text" placeholder="Фамилия" class="form-input">
                                </div>
                                <div class="inputs-wrapper">
                                    <input type="email" placeholder="E-mail" class="form-input">
                                    <input type="tel" placeholder="Телефон" class="form-input">
                                </div>
                                <textarea name="form-textarea" class="form-textarea"
                                    placeholder="Комментарий"></textarea>
                                <div class="privacy-block">
                                    <input type="checkbox" class="privacy-block__cb">
                                    <span class="privacy-block__text">Соглашаюсь на обработку персональных данных в
                                        соответствии с Политикой</span>
                                </div>
                                <button class="gradient-btn"><span>Отправить</span></button>
                            </form>
                        </div>
                    </div>
                    <div class="form-section__image">
                        <img src="./img/footer-vegetables.png" alt="">
                    </div>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="container">
                <div class="footer__wrapper">
                    <div class="footer__dev">
                        Сделано в <a href="https://mlgr.ru/" target="_blank">MediaLine</a>
                    </div>
                    <a href="javascript:void(0)" class="footer__logo">
                        <img src="./img/footer-logo.svg" alt="">
                    </a>
                    <div class="footer__socials"></div>
                </div>
            </div>
        </footer>

        <div class="form-modal" id="form-modal">
            <div class="form-modal__content">
                <div class="form-modal__close">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="1.41406" width="26" height="2" transform="rotate(45 1.41406 0)" fill="white" />
                        <rect x="19.8008" y="1.41406" width="26" height="2" transform="rotate(135 19.8008 1.41406)"
                            fill="white" />
                    </svg>
                </div>
                <div class="form-modal__title">Ваше обращение <br> отправлено.</div>
                <div class="form-modal__descr">Спасибо за обратную связь!</div>
            </div>
        </div>
    </div>
    <script src="./js/parallax.min.js"></script>
    <script src="./js/main.js"></script>
    <script>
        function findMostFrequentElement(arr) {
            const elementCount = {};
            let maxCount = 0;
            let mostFrequentElements = [];
            arr.forEach(element => (elementCount[element] = (elementCount[element] || 0) + 1) > maxCount ? maxCount = elementCount[element] : null);
            arr.forEach(element => elementCount[element] === maxCount ? mostFrequentElements.push(element) : null);
            return mostFrequentElements[Math.floor(Math.random() * mostFrequentElements.length)];
        }
        const questionsList = [
            {
                question: '01. Как бы вы описали свое утро?',
                answerList: [
                    {
                        letter: "A",
                        text: 'Время для себя. Люблю спокойно посидеть за чашечкой кофе.',
                        type: 'З'
                    },
                    {
                        letter: "Б",
                        text: 'Главное — активность: каждый день начинаю со спорта.',
                        type: 'Д'
                    },
                    {
                        letter: "В",
                        text: 'Встаю по будильнику, чтобы не опоздать на работу.',
                        type: 'И'
                    },
                    {
                        letter: "Г",
                        text: 'Ранний подъем не моё. Ложусь поздно и сплю до обеда.',
                        type: 'Е'
                    },
                ]
            },

            {
                question: '02. Ваш любимый напиток на завтрак:',
                answerList: [
                    {
                        letter: "A",
                        text: 'Крепкий черный кофе',
                        type: 'Ж'
                    },
                    {
                        letter: "Б",
                        text: 'Капучино или латте',
                        type: 'А'
                    },
                    {
                        letter: "В",
                        text: 'Черный или зеленый чай',
                        type: 'Б'
                    },
                    {
                        letter: "Г",
                        text: 'Вода или сок',
                        type: 'Д'
                    },
                ]
            },
            {
                question: '03. Какой день недели самый любимый:',
                answerList: [
                    {
                        letter: "A",
                        text: 'Понедельник. Да, я не шучу.',
                        type: 'Ж'
                    },
                    {
                        letter: "Б",
                        text: 'Среда, ведь это маленькая пятница',
                        type: 'Е'
                    },
                    {
                        letter: "В",
                        text: 'Пятница — ведь впереди выходные',
                        type: 'В'
                    },
                    {
                        letter: "Г",
                        text: 'Суббота — любимый выходной',
                        type: 'Г'
                    },
                ]
            },
            {
                question: '04. Что для вас завтрак?',
                answerList: [
                    {
                        letter: "A",
                        text: 'Главный прием пищи. Остальную еду — отдаю врагам.',
                        type: 'Д'
                    },
                    {
                        letter: "Б",
                        text: 'Заставляю себя есть, чтобы зарядиться энергией на день',
                        type: 'Г'
                    },
                    {
                        letter: "В",
                        text: 'Это приятный способ провести утро',
                        type: 'Б'
                    },
                    {
                        letter: "Г",
                        text: 'Предпочитаю другие приемы пищи',
                        type: 'И'
                    },
                ]
            },
            {
                question: '05. Ваше любимое блюдо на завтрак:',
                answerList: [
                    {
                        letter: "A",
                        text: 'Сэндвич или бутерброд',
                        type: 'Г'
                    },
                    {
                        letter: "Б",
                        text: 'Омлет или яичница',
                        type: 'А'
                    },
                    {
                        letter: "В",
                        text: 'Каша или мюсли с молоком',
                        type: 'Б'
                    },
                    {
                        letter: "Г",
                        text: 'Йогурт или творог',
                        type: 'Д'
                    },
                ]
            },
            {
                question: '06. Где вы предпочитаете завтракать?',
                answerList: [
                    {
                        letter: "A",
                        text: 'В постели или дома на диване',
                        type: 'Е'
                    },
                    {
                        letter: "Б",
                        text: 'За столом на кухне или в столовой',
                        type: 'И'
                    },
                    {
                        letter: "В",
                        text: 'В кафе или кофейне',
                        type: 'В'
                    },
                    {
                        letter: "Г",
                        text: 'В офисе',
                        type: 'Ж'
                    },
                ]
            },
            {
                question: '07. Как у вас с кулинарными способностями?',
                answerList: [
                    {
                        letter: "A",
                        text: 'Люблю и умею готовить, изучаю новые рецепты',
                        type: 'Е'
                    },
                    {
                        letter: "Б",
                        text: ' Я хорошо готовлю, но только под настроение',
                        type: 'З'
                    },
                    {
                        letter: "В",
                        text: 'Лучше всего я разогреваю полуфабрикаты',
                        type: 'И'
                    },
                    {
                        letter: "Г",
                        text: 'Зачем готовить, если можно заказать еду на дом?',
                        type: 'Ж'
                    },
                ]
            },
            {
                question: '08. Какой фильм вы бы сейчас посмотрели?',
                answerList: [
                    {
                        letter: "A",
                        text: 'Завтрак у Тиффани',
                        type: 'А'
                    },
                    {
                        letter: "Б",
                        text: 'Сериал «Кухня»',
                        type: 'В'
                    },
                    {
                        letter: "В",
                        text: 'Шоколад',
                        type: 'З'
                    },
                    {
                        letter: "Г",
                        text: 'Ешь, молись, люби',
                        type: 'Г'
                    },
                ]
            },
            {
                question: '09. С кем бы вам хотелось провести идеальный завтрак?',
                answerList: [
                    {
                        letter: "A",
                        text: 'С родными и семьей',
                        type: 'Б'
                    },
                    {
                        letter: "Б",
                        text: 'Со знаменитостью',
                        type: 'З'
                    },
                    {
                        letter: "В",
                        text: 'С близкими друзьями',
                        type: 'В'
                    },
                    {
                        letter: "Г",
                        text: 'С любимым человеком',
                        type: 'А'
                    },
                ]
            }
        ]
        const pollApp = {
            data() {
                return {
                    questionsList,
                    currentQuestionIndex: 0,
                    selectedAnswerLetter: '',
                    answerList: [],
                    showResult: false,

                }
            },
            computed: {
                currentQuestion() {
                    return this.questionsList[this.currentQuestionIndex] ? this.questionsList[this.currentQuestionIndex] : null;
                }
            },
            methods: {
                setAnswer() {
                    if (this.selectedAnswerLetter == '') return;
                    this.answerList.push(this.selectedAnswerLetter);
                    this.currentQuestionIndex++;
                    this.selectedAnswerLetter = '';
                    if (this.currentQuestionIndex === this.questionsList.length) {
                        this.showResult = true;
                    }
                    console.log(findMostFrequentElement(this.answerList));
                }
            }
        }

        const app = Vue.createApp(pollApp);
        app.mount('#poll-app');
    </script>
</body>

</html>